* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 40px;
    background-color: #5d5d5d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: 30px repeat(8, 60px) 30px;
    border: 15px solid #333;
    background-color: #333;
}

.top, .bottom {
    grid-column: 1 / -1; 
    background-color: #333;
    color: #eee;
    font-family: sans-serif;
    font-weight: bold;
}

.wrapper-inner {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    height: 100%;
    align-items: center;
    justify-items: center;
}


.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #eeeed2;
    color: #769656;
}

.box:nth-of-type(16n + 2),
.box:nth-of-type(16n + 4),
.box:nth-of-type(16n + 6),
.box:nth-of-type(16n + 8),

.box:nth-of-type(16n + 11),
.box:nth-of-type(16n + 13),
.box:nth-of-type(16n + 15),
.box:nth-of-type(16n + 17) {
    background-color: #000000;
    color: #eeeed2;
}