.menu {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
}

.menu li a {
    display: block; 
    background-color: black; 
    color: white;
    text-align: center; 
    padding: 15px 20px;
    text-decoration: none; 
    font-family: "Times New Roman", serif; 
    font-weight: bold;
    font-size: 18px;
    min-width: 80px; 
}

.menu li a:hover {
    background-color: grey; 
}